* {
  padding: 0;
  margin: 0px;
}

.img-container {
  width: 75vw;
  height: auto;
  background-color: rgb(66, 42, 77);
  border: 5px solid white;
  border-radius: 25px;
  margin: 20px auto;
  display: block;
}

/* title card*/
.img-container .title {
  width: 80%;
  margin: 0px auto;
  display: block;
  position: relative;
  padding: 50px 0px 70px 0px;
}

/* unvisited link */

a:link {
  width: 150px;
  height: 40px;
  color: rgb(194, 99, 138);
  background-color: rgb(255, 255, 255);
  border: 5px solid rgb(194, 99, 138);
  border-radius: 10px;
  line-height: 2.4em;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  font-weight: bolder;
  letter-spacing: 0.2em;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

/* visited link */
a:visited {
  background-color: rgb(255, 255, 255);
  border: 5px solid rgb(194, 99, 138);
  color: rgb(194, 99, 138);
}

/* mouse over link */
a:hover {
  color: hotpink;
  border-color: white;
  transition-duration: 0.5s;
  background-color: rgb(194, 99, 138);
  color: white;
}

a:active {
  background-color: white;
  border: 10px solid rgb(0, 255, 8);
}

.images {
  width: 75vw;
  height: auto;
  border: 5px solid rgb(194, 99, 138);
  border-radius: 25px;
  margin: 20px auto;
  display: block;
  z-index: -1;
}

.navbar {
  width: 70vw;
  height: 100px;
  margin: 0px auto;
  display: flex;
  margin: -50px auto;
}

.btn1 {
  flex: start;
  margin: 0px 20px 0px 0px;
}

.btn2 {
  flex: end;
  order: 2;
  margin-left: auto;
}

.btn3 {
  margin: 0px auto;
  z-index: 10;
}


.tv-btn1 {
  flex: start;
  margin: 0px 20px 0px 0px;
}

.tv-btn2 {
  flex: end;
  order: 2;
  margin-left: auto;
}

.escape-btn {
  margin: -150px 70%;
  width: 70vw;
}

.escape-btn a {
  background-color: transparent;
  color: rgb(68, 133, 68);
  border-color: rgb(68, 133, 68);
  padding: 10px;
}


.tv-container {
  width: 75vw;
  height:50vh;
  background-color:aqua;
  display: flex;
  flex-basis:75vw;
  position: relative;
  justify-content: center;
  margin:5vh auto;
}

.tv-channels {
  z-index: 6;
  flex: 1 1 70%;
  position:relative;
  
}

.clicker-no-bg{
flex:1 1 30%;
height:10%;
position:relative;
}

#scroll-btn {
  display: none;
}

#work-btn{
  display:none;
}

.title {
  animation-name: floating;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

body {
  background-color: rgb(43, 38, 43);
}
